# General
TZ=Europe/London

UID=1000
GID=1000
UMASK=022

CONTAINER_NAME_PREFIX=media
VOLUMES_BASE=/mnt/user/appdata
SUBNET=10.42.0.0/24
MEDIA_PATH=/mnt/user/appdata

INTEL_GPU=/dev/dri # leave empty to not use intelgpu

# Jellyfin
JELLYFIN_VERSION=latest
JELLYFIN_HTTP_PORT=8096
JELLYFIN_HTTPS_PORT=8920
JELLYFIN_PublishedServerUrl=http://localhost:8096

# Seerr
SEERR_VERSION=latest
SEERR_HTTP_PORT=5055

# sh-seekarr
SHSEEKARR_VERSION=latest
SHSEEKARR_SCHEDULE_INTERVAL=6h
SHSEEKARR_LIMIT=5
SHSEEKARR_SEARCH_MODE=both

# Gluetun
GLUETUN_VERSION=latest
VPN_SERVICE_PROVIDER=
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
OWNED_ONLY=no

# NZBGet
NZBGET_USER=
NZBGET_PASS=
NZBGET_HTTP_PORT=6789

# Transmission
TRANSMISSION_VERSION=4.1.3
TRANSMISSION_HTTP_PORT=9091
TRANSMISSION_TORRENT_PORT=51413
TRANSMISSION_LATTEAM_HTTP_PORT=9092 # Transmission Lat-Team
TRANSMISSION_LATTEAM_TORRENT_PORT=51414 # Transmission Lat-Team
TRANSMISSION_WEB_HOME=

# Flaresolverr
FLARESOLVERR_VERSION=latest
FLARESOLVERR_HTTP_PORT=8191

# Prowlarr
PROWLARR_VERSION=latest
PROWLARR_HTTP_PORT=9696

# Radarr
RADARR_VERSION=latest
RADARR_HTTP_PORT=7878
RADARR_ANIME_HTTP_PORT=7879

# Sonarr
SONARR_VERSION=latest
SONARR_HTTP_PORT=8989
SONARR_ANIME_HTTP_PORT=8990

# Recyclarr
RECYCLARR_VERSION=7
# After first run of Radarr/Sonarr paste the api keys here and restart the stack
SONARR_APIKEY=
SONARR_ANIME_APIKEY=
RADARR_APIKEY=
RADARR_ANIME_APIKEY=

# Kavita
KAVITA_VERSION=0.8.3
KAVITA_HTTP_PORT=5000

# Autobrr
AUTOBRR_VERSION=latest
AUTOBRR_HTTP_PORT=7474

# Lidarr
LIDARR_VERSION=2.7.1
LIDARR_HTTP_PORT=8686

# Readarr
READARR_VERSION=develop
READARR_BOOKS_HTTP_PORT=8787
READARR_AUDIOBOOKS_HTTP_PORT=8788

# Bazarr
BAZARR_VERSION=latest
BAZARR_HTTP_PORT=6767
BAZARR_ANIME_HTTP_PORT=6768

# Homarr
HOMARR_VERSION=latest
HOMARR_HTTP_PORT=7575