CONTAINER_NAME=valheim
NETWORK_NAME=valheim
APP_DATA_PATH=/tmp/valheim
SUBNET=10.42.0.0/24

IMAGE_REPOSITORY=ghcr.io/community-valheim-tools/valheim-server
IMAGE_VERSION=latest

GAME_PORT=2456
QUERY_PORT=2457
RPC_PORT=2458
SERVER_ENV_FILE=valheim.env.example