TZ=Europe/Amsterdam
PUID=99
PGID=100
PERMISSIONS_UMASK=022

SERVER_NAME=Valheim Friends
WORLD_NAME=Dedicated
SERVER_PASS=CHANGE_ME
SERVER_PUBLIC=true
SERVER_PORT=2456
SERVER_ARGS=-console -nographics -batchmode
ADMINLIST_IDS=

CROSSPLAY=false

UPDATE_CRON=*/15 * * * *
UPDATE_IF_IDLE=true
RESTART_CRON=10 5 * * *
RESTART_IF_IDLE=true

BACKUPS=true
BACKUPS_CRON=5 * * * *
BACKUPS_MAX_AGE=30
BACKUPS_MAX_COUNT=0
BACKUPS_IF_IDLE=true

VALHEIM_PLUS=false
VALHEIM_PLUS_REPO=Grantapher/ValheimPlus
VALHEIM_PLUS_RELEASE=latest
BEPINEX=false

SUPERVISOR_HTTP=false
STATUS_HTTP=false