# General
TZ=Europe/London

CONTAINER_NAME=portainer
IMAGE_VERSION=lts
VOLUMES_BASE=/mnt/user/appdata
DOCKER_SOCK=/var/run/docker.sock
SUBNET=10.42.0.0/24
HTTPS_PORT=9443

# Optional legacy HTTP UI
HTTP_PORT=9000

# Optional Edge Agent tunnel
EDGECOMPUTE_PORT=8000

# Optional Watchtower override
WATCHTOWER_ENABLE=false
