TZ=Europe/London

CONTAINER_NAME=searxng
CONTAINER_NAME_VALKEY=searxng-valkey
NETWORK_NAME=searxng
SEARXNG_IMAGE_REPOSITORY=docker.io/searxng/searxng
SEARXNG_VERSION=latest
VALKEY_IMAGE_REPOSITORY=docker.io/valkey/valkey
VALKEY_VERSION=9-alpine
VOLUMES_BASE=/mnt/user/appdata

HTTP_PORT=8080
SUBNET=10.42.0.0/24

SEARXNG_HOSTNAME=localhost
SEARXNG_PORT=8080
SEARXNG_SECRET=change-me-to-a-random-secret-key
GRANIAN_BLOCKING_THREADS=4
SEARXNG_LIMITER=true
SEARXNG_PUBLIC_INSTANCE=true
SEARXNG_IMAGE_PROXY=true
SEARXNG_METHOD=POST
FORCE_OWNERSHIP=true